{% load staticfiles %}
{% block menu %}
  <div class="header clearfix">
  <a href="{% if request.resolver_match.url_name == 'main' %}#{% else %}{% url 'main' %}{% endif %}" class="logo"></a>
    <ul class="menu">
    <li>
        <a href="{% if request.resolver_match.url_name == 'main' %}#{% else %}{% url 'main' %}{% endif %}"
           class="{% if request.resolver_match.url_name == 'main' %}active{% endif %}">
            домой
        </a>
    </li>
    <li>
        <a href="{% url 'products:index' %}"
           class="{% if request.resolver_match.namespace == 'products' %}active{% endif %}">
            продукты
        </a>
    </li>
    <li>
        <a href="{% url 'contacts' %}"
           class="{% if request.resolver_match.url_name == 'contacts' %}active{% endif %}">
            контакты
        </a>
    </li>
    {% if user.is_authenticated %}
        <li>
            <a href="{% url 'auth:edit' %}">{{ user.first_name|default:'Пользователь' }}</a>
        </li>
    {% endif %}
    <li>
        {% if user.is_authenticated %}
            <a href="{% url 'auth:logout' %}">выйти</a>
        {% else %}
            <a href="{% url 'auth:login' %}">войти</a>
        {% endif %}
    </li>
    <li class="search-link">
        <a href="#"><img src="{% static '/img/search.png' %}" class="search"></a>
    </li>
    <li class="basket">
        <a href="{% url 'basket:view' %}" class="">
        <img src="{% static 'img/basket.png' %}" class="basket-img"></a>
            <span class="basket-qty">
                {% if basket %}
                {{ basket.0.total_cost | floatformat:0 }} руб.</a>
                {{ basket.0.total_quantity | floatformat:0 }}{% endif %} шт.</a>
            </span>
    </li>
    </ul>

  </div>
{% endblock %}
