<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
     <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <title>
      {% block title %}
      {{ title | title }}
      {% endblock %}
    </title>
    {% block css %}
      <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome/css/font-awesome.css' %}">
      {% endblock %}
      {% block js %}

      {% endblock %}
  </head>
  <body>
    <div class="container">
        <div class="admin-container">
            <div class="h2 text-center head">{{ title | title }}</div>
        {% block menu %}
          {% include 'adminapp/includes/inc_menu.html' %}
        {% endblock %}
        </div>

        {% block content %}
        {% endblock %}
    </div>
  </body>
</html>

