{% extends 'adminapp/base.html' %}
{% load staticfiles %}

{% block content %}
  <div class="products-list">
    <button class="new-product">
      <a href="{% url 'admin:product_create' category.pk %}">Новый товар</a>
    </button>
    {% for object in objects %}
      <div class="product-record {% if not object.is_active %}not_active {% endif %}">
        <img src="/media/{{ object.image|default:'products_images/default.jpg' }}" alt="{{ object.name }}">
        <div class="product-name">
          {{ object.name|capfirst }}
        </div>

        <div class="product-actions">
          <button>
            <a href="{% url 'admin:product_read' object.pk %}">Подробнее</a>
          </button>
          <button>
            <a href="{% url 'admin:product_update' object.pk %}">Редактировать</a>
          </button>
          <button>
            <a href="{% url 'admin:product_delete' object.pk %}">Удалить</a>
          </button>
        </div>

        <div class="summary">
            <strong>Цена</strong>
            <p>{{ object.price }}</p>
            <strong>Количество</strong>
            <p>{{ object.quantity }}</p>
        </div>
        <div class="product-desc">
            <p>{{ object.description }}</p>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
