{% extends 'adminapp/base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="category-delete">
        Вы уверены, что хотите удалить {{ object.name }}?
    </div>

    <form action="{% url 'admin:product_delete' object.pk %}" method="POST">
    {% csrf_token %}
    <input class="btn btn-danger" type="submit" value="Удалить">
    </form>

  <button class="btn btn-success">
    <a href="{% url 'admin:products' object.category.pk %}">
        Отмена
    </a>
  </button>
  </div>
  {% endblock %}
