{% extends 'adminapp/base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="user-delete">
        Вы уверены, что хотите удалить {{ user_to_delete.username }}?
    </div>

    <form action="{% url 'admin:user_delete' user_to_delete.pk %}" method="POST">
    {% csrf_token %}
    <input class="btn btn-danger" type="submit" value="Удалить">
    </form>

  <button class="btn btn-success">
    <a href="{% url 'admin:users' %}">
        Отмена
    </a>
  </button>
  </div>
  {% endblock %}
