{% extends 'mainapp/base.html' %}
{% load staticfiles %}
    {% block title %}
        {{ title }}
    {% endblock %}
  </title>
</head>
<body>
  <div class="container">
    {% block content %}
    <div class="slider">
      {% include 'mainapp/includes/inc_mainmenu.html' %}
      <div class="text-slider">
        <h3 class="green">тенденции</h3>
        <h3 class="big"> удобные стулья</h3>
        <p>Новый уровень комфорта. Отличные характеристики.</p>
        <a href="#" class="button-order">заказать <img src="{% static 'img/arrow.png' %}" alt=""></a>
      </div>
      <div class="navi">
        <a href="#"></a><a href="#"></a><a href="#"></a>
      </div>
    </div>

    <!-- Мой макет -->

      <section class="product-review padding-site">
            <div class="product-header">
                <ul class="product-menu">
                    <li class="product-tab product-tab-active">Featured</li>
                    <li class="product-tab">New</li>
                </ul>
                <a href="#" class="explore">explore all <img src="{% static 'img/arrow.svg' %}" alt=""></a></div>

                <div class="product-list">
                    {% for product in product_list %}
                    <div class="product">
                        <img src="{{ product.image.url }}" class="product-img">
                        <div class="hover-description">
                            <a href="{% url 'products:product' product.pk %}" class="hover-button">
                              <img src="{% static 'img/arrow.svg' %}" alt="" class="hover-button-arrow"></a>
                            <h3 class="hover-category-name">{{ product.category.name }}</h3>
                            <h3 class="hover-header">{{ product.name }}</h3>
                            <p class="hover-p"> {{ product.short_desc }}</p>
                            <p class="hover-price">Цена: {{ product.price }} руб.</p>
                        </div>
                    </div>
                    {% endfor %}
            </div>
        </section>

        <section class="promo-imgs">
            <div class="promo1">
                <div class="promo-sub-header">exclusive</div>
                <h3 class="promo-header">Fishnet Chair</h3>
                <p class="promo-description">Seat and back with upholstery made of cold cure foam. Steel frame, available in matt powder-coated black or highly polished chrome.</p>
                <div class="promo-button">
                    <a href="#" class="button-order">Купить <img src="{% static 'img/arrow.svg' %}" alt="" class="arrow"></a></div>
            </div>
            <div class="promo2">
                <div class="promo-sub-header">exclusive</div>
                <h3 class="promo-header">Fishnet Chair</h3>
                <p class="promo-description">Seat and back with upholstery made of cold cure foam. Steel frame, available in matt powder-coated black or highly polished chrome.</p>
                <div class="promo-button">
                    <a href="#" class="button-order">Купить <img src="{% static 'img/arrow.svg' %}" alt="" class="arrow"></a></div>
            </div>
        </section>

        <section class="trending-product-review padding-site">
            <div class="product-header">
                <h2 class="tranding-header">Trending Products</h2>
                <a href="#" class="explore">explore all <img src="{% static 'img/arrow.svg' %}">
                </a>
                   </div>
            <div class="trending-product-list">
                {% for trend in trending_products %}
                    <a href="{% url 'products:product' trend.pk %}" class="trending-product"><img src="{{ trend.image.url }}" alt="{{ trend.short_desc }}" class="trend-img"></a>
                    {% endfor %}
            </div>
        </section>

        <section class="slider-hot-deal padding-site">
            <div class="clear"></div>
            <div class="slider__content-hot-deal">
                <div class="slider__hot-deal">Hot deal</div>
                <h2 class="slider__h2">Fishnet Chair</h2>
                <p class="slider__p">
                    Seat and back with upholstery made of cold cure foam. Steel frame, available in matt powder-coated black
                </p>
                <a href="#" class="button-order">Купить <img src="{% static 'img/arrow.svg' %}" alt="" class="arrow"></a>
            </div>
            <div class="clear"></div>
        </section>
        <section class="second-product padding-site">
            <div class="large-product">
                <div class="promo-sub-header">exclusive</div>
                <h3 class="promo-header">Fishnet Chair</h3>
                <p class="large-product-description-">Seat and back with upholstery made of cold cure foam. Steel frame, available in matt powder-coated black or highly polished chrome.</p>
                <div class="promo-button">
                    <a href="#" class="button-order">Купить <img src="{% static 'img/arrow.svg' %}" alt="" class="arrow"></a></div>
            </div>

            <div class="small-product-list">
                {% for small_product in small_products %}
                <div class="small-product-block">
                    <img src="{{ small_product.image.url }}" class="small-product-img">
                    <div class="hover-description-small">
                        <a href="{% url 'products:product' small_product.pk %}" class="hover-button">
                            <img src="{% static 'img/arrow.svg' %}" alt="" class="hover-button-arrow"></a>
                        <h3 class="hover-header">{{ small_product.name }}</h3>
                        <p class="hover-p">{{ small_product.short_desc }}</p>
                    </div>
                </div>
                {% endfor %}

        </section>

        <section class="mobile padding-site">
            <div class="slider__content-mobile">
                <div class="slider__trending-mobile">mobile app</div>
                <h2 class="slider__h2-mobile">Find. Follow. Favorite.</h2>
                <p class="slider__p-mobile">
                    Save your favorites and share your style.
                </p>
                <a href="#" class="button-mobile"><img src="{% static 'img/app-store.jpg' %}" alt="" class=""></a>
                <a href="#" class="button-mobile"><img src="{% static 'img/google-play.jpg' %}" alt="" class=""></a>
            </div>
        </section>

        <div class="clr"></div>
        {% endblock %}
